<div class="ba flex items-center ph3">
  {{mdc-icon-button icon="fast_rewind" type="button" click=(action "reset")}}
  {{#if project.isPlaying}}
    {{mdc-icon-button icon="stop" type="button" click=(action "stop")}}
  {{else}}
    {{mdc-icon-button icon="play_arrow" type="button" click=(action "start")}}
  {{/if}}
  <label>
    {{input
      value=project.bpm
      change=(perform setBpmTask)
      class="w3 bg-transparent bw1 b--black"
      type="number"
    }} BPM
  </label>
</div>

