<form class="controls">
  <fieldset class="transport">
    {{mdc-icon-button icon="fast_rewind" click=(action "loopAction" "reset")}}
    {{#if isPlaying}}
      {{mdc-icon-button icon="stop" click=(action "loopAction" "stop")}}
    {{else}}

      {{mdc-icon-button icon="play_arrow" click=(action "loopAction" "start")}}
    {{/if}}
  </fieldset>
  <label class="interval-container">
    <small>
      loop interval
      {{project.interval}}
      ms
    </small>
    {{ui-slider
      max=1000
      min=20
      size=intervalSliderSize
      step=10
      class="interval-slider"
      onChangeValue=(action "setLoopInterval" project)
      value=project.interval
    }}
  </label>
  {{yield}}
</form>