<footer class="track-footer ba flex bg-yellow absolute bottom-0 w-100 h14 items-center pr6">
  <div class="flex-0 bl br h-100 pv2 ph3 w3">
    <img alt="Volume" src="/assets/icons/volume.svg" alt="volume">
    {{ui-slider
      max=1
      min=0
      size=gainSliderSize
      step=0.01
      class="gain-slider"
      onChangeValue=(action "updateSequenceParam" track "gain")
      value=track.gain
    }}
  </div>

  <div class="flex-0 br flex flex-column w3 h-100">
    {{#mdc-button class="bb b--black br0 h-auto flex-grow" click=(action (mut visibleInterface) "rhythm")}}
      <img alt="Rhythm and Automation editor" src="/assets/icons/automation.svg"/>
    {{/mdc-button}}
    {{#mdc-button class="br0 h-auto flex-grow" click=(action (mut visibleInterface) "script")}}
      <img alt="Script Editor" src="/assets/icons/script.svg"/>
    {{/mdc-button}}
  </div>

  <div class="flex-grow flex-basis-auto h-100 relative mw-100">
    {{#if (eq visibleInterface "rhythm")}}
      <div class="flex justify-between flex-grow flex-basis-auto h-100">
        <TrackControls
          @track={{track}}
          @stepIndex={{audioService.activeTrackStepIndex}}
        />
        {{!-- <StepParamSliders
          class="pa3"
          @sequence={{track.sequence}}
          @track={{track}}
          @stepIndex={{audioService.activeTrackStepIndex}}
        >
          <h3>Step Automation</h3>
        </StepParamSliders> --}}

        <UiSequenceControls
          class="pa3 bl h-100 w18 flex-0 min-width-6"
          @hits={{track.hits}}
          @steps={{track.steps}}
          @offset={{track.offset}}
          @onUpdateSequenceParam={{action "updateSequenceParam" track}}
        >
          <h3>Euclidean Rhythm</h3>
        </UiSequenceControls>
      </div>
    {{/if}}

    {{#if (eq visibleInterface "script")}}
      <TrackFunctionEditor
        class="w-100 h-100 overflow-scroll absolute bottom-0 bg-yellow pa3"
        @track={{track}}
      >
        <h3>Script Editor</h3>
      </TrackFunctionEditor>
    {{/if}}
  </div>

</footer>