{{currentPath}}

<div class="drum-file-picker">
  <img src={{img}} />
  {{#each directories as |directory|}}
    <div class='directory-wrapper'>
      <ul>
        {{#each directory.choices as |choice|}}
          <li>
            <button {{action "onSelect" directory choice}}>
              {{#if (eq directory.type "audio")}}
                {{filename-ui choice}}
              {{else}}
                {{choice}}
              {{/if}}
            </button>
          </li>
        {{/each}}
      </ul>
    </div>
  {{/each}}
</div>
