<div class='row'>
  <div class='container-fluid post-meta border'>
    <h1><img src='{{post.user.avatar}}'/>{{post.title}}</h1>
    <!-- <h3>{{markdown-to-html markdown=post.body}}</h3> -->
    <p>
      by {{post.user.username}}
      {{#if post.date}}
        <span class="post-date">
          {{moment-from-now post.date}}
        </span>
      {{/if}}
    </p>
    {{#if session.isAuthenticated}}
      {{#if isAllowed}}
        <form {{action 'save' post on='submit'}}>
          {{#unless isEditing}}
            <button type='submit' class='btn btn-primary'
                {{action 'edit' }}>Edit
            </button>
          {{/unless}}
          {{#if isEditing}}
            <legend>edit post data</legend>
            <div class='edit-post-meta form-group'>
              <label>Title<input cols=40 rows='1' value= {{post.title}} oninput={{action (mut post.title) value='target.value'}} /></label>
              <!-- <label><textarea cols=40 rows='6'  value= {{post.body}} oninput={{action (mut post.body) value='target.value'}} /></label> -->

            </div>

            <button type='submit' class='btn btn-primary'>Save</button>
            <button type='delete' class='btn btn-danger' {{action 'delete' post}}>
              Delete
            </button>
          {{/if}}
        </form>

      {{/if}}
    {{/if}}
  </div>

  <div class='container-fluid border'>
    <section>
      {{yield}}
    </section>
  </div>

</div>
<!-- {{add-comment post=post session=session store='createComment' }} -->
