
{{ui-step-sequencer sequence=sequence}}

<div class="ui-controls">
  {{ui-select
    choices=filenames
    onChangeValue=(action "updateFilename" track)
    value=track.filename
  }}

  <div class="dials">
    {{#ui-dial
      max=16
      step=1
      onChangeValue=(action "updateSequenceParam" track 'hits')
      value=track.hits
    }}
    <dl>
      <dt>hits</dt>
      <dd>{{track.hits}}</dd>
    </dl>
    {{/ui-dial}}

    {{#ui-dial
      max=16
      step=1
      onChangeValue=(action "updateSequenceParam" track 'steps')
      value=track.steps
    }}
      <dl>
        <dt>steps</dt>
        <dd>{{track.steps}}</dd>
      </dl>
    {{/ui-dial}}

    {{#ui-dial
      max=16
      step=1
      onChangeValue=(action "updateSequenceParam" track 'offset')
      value=track.offset
    }}
      <dl>
        <dt>offset</dt>
        <dd>{{track.offset}}</dd>
      </dl>
    {{/ui-dial}}
  </div>
</div>

{{euclidean-sequence
  hits=track.hits
  steps=track.steps
  offset=track.offset
  onCalculateSequence=(action "setTrackSequence" track)
}}


<button
  type='delete'
  class='btn btn-danger'
  {{action 'deleteTrack' track}}
>
  <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
</button>

{{yield}}
