<div class="container-fluid post-meta border">
  <div class="post-meta-title">
    <h1>
      {{post.title}}
    </h1>
    <h3>
      {{markdown-to-html markdown=post.body}}
    </h3>
    <div class="creator-meta">
      <p>
        {{#if post.date}}
          <span class="post-date">
            created
            {{moment-from-now post.date}}
          </span>
        {{/if}}
        by
        <strong>
          {{post.creator.username}}
        </strong>
      </p>
      {{post-active-users post=post}}
    </div>
  </div>
  {{#if session.isAuthenticated}}
    {{#if isAllowed}}
      <form {{action "save" post on="submit"}}>
        {{#unless isEditing}}
          <button type="submit" class="btn btn-primary" {{action "edit"}}>
            Edit
          </button>
        {{/unless}}
        {{#if isEditing}}
          <legend>
            edit post
          </legend>
          <div class="edit-post-meta form-group">
            <!-- TODO: de-duplicate this code with new-post.hbs -->
            <div class="form-group">
              <label for="titleInput">
                title
              </label>
              <input
                cols="40"
                rows="1"
                value={{post.title}}
                class="form-control"
                id="titleInput"
                oninput={{action (mut post.title) value="target.value"}}
               />

            </div>
            <div class="form-group">
              <label for="descriptionInput">
                description
              </label>
              <textarea
                class="form-control"
                cols="40"
                rows="2"
                id="descriptionInput"
                value={{post.body}}
                oninput={{action (mut post.body) value="target.value"}}
              ></textarea>
            </div>
            <div class="form-group">
              <label>
                allow anyone to edit:
                <input
                  type="checkbox"
                  checked={{post.publicEditable}}
                  {{action
                    (mut post.publicEditable)
                    value="target.value"
                    on="change"
                  }}
                 />

              </label>
              <label>
                show in public feed:
                <input
                  type="checkbox"
                  checked={{post.publicVisible}}
                  {{action
                    (mut post.publicVisible)
                    value="target.value"
                    on="change"
                  }}
                 />

              </label>
            </div>
          </div>
          <button type="submit" class="btn btn-primary">
            Save
          </button>
          <button type="delete" class="btn btn-danger" {{action "delete" post}}>
            Delete
          </button>
        {{/if}}
      </form>
    {{/if}}
  {{/if}}
</div>
<div class="container-fluid border">
  <section>
    {{yield}}
  </section>
</div>
<!-- {{add-comment post=post session=session store='createComment' }} -->