<button
  type='delete'
  class='btn btn-danger delete-track'
  {{action 'deleteTrack' track}}
>
  <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
</button>

{{#audio-track-sampler
  sequence=sequence
  directory=directory
  trackId=track.id
  filename=track.filename
  gain=track.gain
  outputNodeSelector="#master-compressor"
  as |sampler|
}}
  {{ui-step-sequencer
    sequence=sequence
    stepIndex=sampler.stepIndex
  }}

{{/audio-track-sampler}}



<div class="ui-controls">

  {{#ui-dial
    max=1
    step=0.01
    size=[45,45]
    onChangeValue=(action "updateSequenceParam" track 'gain')
    value=track.gain
  }}
  <dl>
    <dt>gain</dt>
    <dd>{{track.gain}}</dd>
  </dl>
  {{/ui-dial}}

  {{ui-select
    choices=filenames
    onChangeValue=(action "updateFilename" track)
    value=track.filename
  }}

  <div class="dials">
    {{#ui-dial
      max=16
      step=1
      onChangeValue=(action "updateSequenceParam" track 'hits')
      value=track.hits
    }}
    <dl>
      <dt>hits</dt>
      <dd>{{track.hits}}</dd>
    </dl>
    {{/ui-dial}}

    {{#ui-dial
      max=16
      step=1
      onChangeValue=(action "updateSequenceParam" track 'steps')
      value=track.steps
    }}
      <dl>
        <dt>steps</dt>
        <dd>{{track.steps}}</dd>
      </dl>
    {{/ui-dial}}

    {{#ui-dial
      max=16
      step=1
      onChangeValue=(action "updateSequenceParam" track 'offset')
      value=track.offset
    }}
      <dl>
        <dt>offset</dt>
        <dd>{{track.offset}}</dd>
      </dl>
    {{/ui-dial}}
  </div>
</div>

{{euclidean-sequence
  hits=track.hits
  steps=track.steps
  offset=track.offset
  onCalculateSequence=(action "setTrackSequence" track)
}}

{{yield}}
