{{ui-slider
  max=1
  min=0
  size=gainSliderSize
  step=0.01
  class="gain-slider"
  onChangeValue=(action "updateSequenceParam" track "gain")
  value=track.gain
}}
<div
  class="btn-group-vertical track-interface-switches"
  role="group"
  aria-label="toggle-interface"
>
  <button
    class="circle-btn btn-xs filePicker"
    type="button"
    {{action "switchInterface" "filePicker"}}
  >
    {{bs-tooltip placement="right" title="Select a drum sample"}}
    D
  </button>
  <button
    class="circle-btn btn-xs rhythm"
    type="button"
    {{action "switchInterface" "rhythm"}}
  >
    {{bs-tooltip placement="right" title="Euclidean Rhythm Sequence"}}
    E
  </button>
  <button
    class="circle-btn btn-xs steps"
    type="button"
    {{action "switchInterface" "steps"}}
  >
    {{bs-tooltip placement="right" title="Automation controls"}}
    A
  </button>
  <button
    class="circle-btn btn-xs function"
    type="button"
    {{action "switchInterface" "function"}}
  >
    {{bs-tooltip placement="right" title="Function editor"}}
    F
  </button>
</div>
<div class="inner-ui-controls">
  {{#audio-track-sampler
    sequence=track.sequence
    directory=directory
    track=track
    gain=track.gain
    isLooping=track.isLooping
    filepath=track.filepath
    outputNodeSelector="#master-compressor" as |sampler|
  }}
    {{ui-step-sequencer 
      sequence=track.sequence 
      stepIndex=sampler.stepIndex
    }}
    <button
      type="delete"
      class="btn btn-danger delete-track-btn"
      {{action "deleteTrack" track}}
    >
      ✕
    </button>
    {{#if (eq visibleInterface "filePicker")}}
      {{drum-file-picker
        track=track
        saveTrack=saveTrack
        updateFilepath=(action "updateFilepath")
      }}
    {{/if}}
    {{#if (eq visibleInterface "steps")}}
      {{step-param-sliders
        uiStepSize=uiStepSize
        sequence=track.sequence
        track=track
        stepIndex=sampler.stepIndex
      }}
    {{/if}}
    {{#if (eq visibleInterface "rhythm")}}
      {{ui-sequence-controls
        hits=track.hits
        steps=track.steps
        offset=track.offset
        onUpdateSequenceParam=(action "updateSequenceParam" track)  
      }}
    {{/if}}
    {{#if (eq visibleInterface "function")}}
      {{track-function-editor
        customFunction=track.customFunction
        sampler=sampler
      }}
    {{/if}}
  {{/audio-track-sampler}}
</div>
{{yield}}