{{#mdc-card outlined=true}}
  <h2 class="project-title">
    <!-- <button class="btn play">{{fa-icon "play"}}</button>  -->
    {{#link-to "user.creator.project" session.currentUser project}}
      {{project.title}}
    {{/link-to}}
  </h2>
  <p class="card-text">
    {{project.body}}
  </p>
  {{#mdc-card-actions}}
    {{#mdc-card-action-icons}}
      {{yield}}
      {{#if canDelete}}
        {{mdc-card-action-icon "delete" title="Delete" click=(action "deleteProject" project)}}
      {{/if}}
    {{/mdc-card-action-icons}}
  {{/mdc-card-actions}}
{{/mdc-card}}


  
