{{#mdc-card outlined=true class="ma3 pa3"}}
    <!-- <button class="btn play">{{fa-icon "play"}}</button>  -->
  <div class="mdc-typography mdc-typography--headline6">
    {{#link-to "user.creator.project" session.currentUser project class="link"}}
      {{project.title}}
    {{/link-to}}
  </div>
  {{#mdc-card-media scale="16-9"}}
    {{#mdc-card-media-content}}
      {{!-- <UiStepSequencer @sequence={{project.sequenceMatrix}}/> --}}
    {{/mdc-card-media-content}}
  {{/mdc-card-media}}
  {{#mdc-card-actions}}
    {{#mdc-card-action-icons}}
      {{yield}}
      {{#if canDelete}}
        {{mdc-card-action-icon "delete" title="Delete" click=(action "deleteProject" project)}}
      {{/if}}
    {{/mdc-card-action-icons}}
  {{/mdc-card-actions}}
{{/mdc-card}}


  
