{{#mdc-top-app-bar}}
  {{#mdc-top-app-bar-row}}
    {{#mdc-top-app-bar-section position="alignStart"}}
      {{mdc-top-app-bar-navigation-icon}}
      {{#mdc-top-app-bar-title}}
        {{#link-to "user" class="link white"}}
          EUCLIP
        {{/link-to}}
      {{/mdc-top-app-bar-title}}
    {{/mdc-top-app-bar-section}}
    {{#mdc-top-app-bar-section position="alignEnd" role="toolbar"}}
      {{#mdc-button-linkto "user.new" style="unelevated" class="ml4"}}
        New Project
      {{/mdc-button-linkto}}
      <div>
        {{#mdc-fab click=(action "toggleMenu")}}
          {{#if session.currentUserModel.avatar}}
            <img
              alt={{session.currentUserModel.username}}
              class="br-100"
              src={{session.currentUserModel.avatar}}
              height="56px"
              width="56px"
             />

          {{/if}}
        {{/mdc-fab}}
        {{#mdc-menu-surface
          class="w5"
          anchor="parent"
          anchorCorner="bottomLeft"
          anchorMargin=(hash top=10)
          open=isOpen
        }}
          {{#mdc-list}}
            {{#mdc-list-item disabled=true}}
              {{#mdc-list-item-secondary-text}}
                You are anonymous
              {{/mdc-list-item-secondary-text}}
            {{/mdc-list-item}}
            {{mdc-list-divider}}
            {{#if isAnonymous}}
              {{#mdc-list-item class="pointer" click=(action onLogin)}}
                Log in with Google
              {{/mdc-list-item}}
            {{else if session.isAuthenticated}}
              {{#mdc-list-item class="pointer" click=(action onLogout)}}
                Logout
              {{/mdc-list-item}}
            {{else}}
              {{#mdc-list-item click=(action onLogin)}}
                Login
              {{/mdc-list-item}}
            {{/if}}
          {{/mdc-list}}
        {{/mdc-menu-surface}}
      </div>
    {{/mdc-top-app-bar-section}}
  {{/mdc-top-app-bar-row}}
{{/mdc-top-app-bar}}