<div class='container-fluid border'>
  <p>New Post</p>
  <form {{action 'save' on='submit'}}>
    <div class="form-group">
      <label>
        title:
        <input type="text" placeholder='Title' value= {{title}} oninput={{action (mut title) value='target.value'}} />
      </label>

      <label>
        allow anyone to edit:
        <input type="checkbox" checked={{publicEditable}} {{action (mut publicEditable) value='target.value' on='change'}} />
      </label>

      <label>
        show in public feed:
        <input type="checkbox" checked={{publicVisible}} {{action (mut publicVisible) value='target.value' on='change'}} />
      </label>
    </div>
    <button type='submit' class='btn btn-primary'>Create</button>
  </form>
</div>
