<div class='row index-wrapper'>
{{audio-post-sequencer post=currentPost readOnly=true}}
{{#each currentPost.tracks as |track|}}
  {{#euclidean-sequence
    hits=track.hits
    steps=track.steps
    offset=track.offset
    as |sequence|
  }}

    {{audio-track-sampler
      sequence=sequence
      directory=directory
      track=track
      gain=track.gain
      isLooping=track.isLooping
      filepath=track.filepath
      outputNodeSelector="#master-compressor"
    }}

  {{/euclidean-sequence}}
{{/each}}
</div>

<div class='row index-wrapper'>
  <div class='container-fluid row'>
    {{#each posts as |post|}}
      {{#index-post-item post=post}}
        <button type="button" class="btn play-btn" {{action "setCurrentPost" post}}>
          {{fa-icon "play"}}
        </button>
      {{/index-post-item}}
    {{else}}
      There are no posts...
    {{/each}}
  </div>
</div>
