<section ...attributes>
  {{yield}}
  <div class="step-param-sliders flex flex-column">
    <div
      class="flex"
      role="group"
      aria-label="toggle-interface"
    >
      <button type="button" class="btn btn-default gain active"
        {{action "switchInterface" "gain"}}
      >
        volume
      </button>
      <button type="button" class="btn btn-default speed"
        {{action "switchInterface" "speed"}}
      >
        playback speed
      </button>
      <button type="button" class="btn btn-default loopEnd"
        {{action "switchInterface" "loopEnd"}}
      >
        loop length
      </button>
      <label class="toggle-loop">
        loop
        {{input
          type="checkbox"
          checked=track.isLooping
          click=(action "toggleIsLooping")
        }}
      </label>
    </div>
    {{#if (eq visibleInterface "gain")}}
      {{ui-multislider
        stepIndex=stepIndex
        sequence=sequence
        size=multisliderSize
        numberOfSliders=sequence.length
        values=gainStepArray
        onChangeValue=(action "updateParam" "gainStepArray")
      }}
    {{/if}}
    {{#if (eq visibleInterface "speed")}}
      {{ui-multislider
        stepIndex=stepIndex
        sequence=sequence
        size=multisliderSize
        numberOfSliders=sequence.length
        values=speedStepArray
        max=3
        onChangeValue=(action "updateParam" "speedStepArray")
      }}
    {{/if}}
    {{#if (eq visibleInterface "loopEnd")}}
      {{ui-multislider
        stepIndex=stepIndex
        sequence=sequence
        size=multisliderSize
        numberOfSliders=sequence.length
        values=loopEndStepSeq
        onChangeValue=(action "updateParam" "loopEndStepArray")
      }}
    {{/if}}
  </div>
</section>