- {{track.filename}}
- {{track.hits}}
- {{track.steps}}
- {{track.offset}}

<button
  type='delete'
  class='btn btn-danger'
  {{action 'deleteTrack' track}}>
  <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
</button>

{{yield}}
