<div class="flex mr3 h-100 track-control-wrapper">
  <div class="mb2 multislider-wrapper bg-dark-blue">
    {{#if (eq trackControl.interfaceName "ui-multislider")}}
      {{ui-multislider
        max=trackControl.max
        min=trackControl.min
        values=trackControl.controlDataArray
        size=uiSize
        stepIndex=stepIndex
        sequence=sequence
        numberOfSliders=sequence.length
        onChangeValue=(action "onChangeValue")
      }}
    {{/if}}
  </div>
  <table>
    <tr>
      <td class="f7 dark-gray">min</td>
      <td class="f7 dark-gray">max</td>
      <td class="f7 dark-gray">default</td>
    </tr>
    <tr>
      <td>
        {{input
          value=trackControl.min
          class="w3 bg-transparent bw1 b--black"
          keyUp=(action "updateNumberParam")
          type="number"
        }}
      </td>
      <td>
        {{input
          value=trackControl.max
          class="w3 bg-transparent bw1 b--black"
          keyUp=(action "updateNumberParam")
          type="number"
        }}
      </td>
      <td>
        {{input
          value=trackControl.default
          class="w3 bg-transparent bw1 b--black"
          keyUp=(action "updateNumberParam")
          type="number"
        }}
      </td>
    </tr>
    <tr>
      <td>
        {{#mdc-button title="Reset To Default" click=(action "setDefault")}}reset{{/mdc-button}}
      </td>
      <td>
        {{#mdc-button title="Delete Control" click=(action "delete")}}delete{{/mdc-button}}
      </td>
    </tr>
  </table>
  <div class="flex flex-column w4 ml3">
    <div class="ma0 f6 flex items-center">
      {{#mdc-menu-surface
        class="w5"
        anchor="parent"
        position= "fixed"
        quickOpen=false
        anchorCorner="topLeft"
        open=menuOpen
      }}
        {{#mdc-list}}
          {{#each menuListConfig as |item|}}
            {{#mdc-list-item class="pointer" click=(action item.action item.actionArg)}}
              {{item.label}}
            {{/mdc-list-item}}
          {{/each}}
        {{/mdc-list}}
      {{/mdc-menu-surface}}

    </div>
  </div>
</div>