<section>
  {{yield}}
  <div class="function-editor" ...attributes>
    {{! <legend>
        <p>write custom <a href="https://billorcutt.github.io/i_dropped_my_phone_the_screen_cracked/" target="_blank">cracked</a> script</p>
        <p>script will be called on each step of the step sequencer.</p>
      </legend> }}
    <div class="function-controls flex justify-between items-center">
      <div class="flex flex-column justify-between">
        <div class="flex items-center">
          {{#mdc-button click=(action "submitCode") disabled=functionIsLoaded style="unelevated" title="Function is loaded" class="black mr2"}}
            {{#if functionIsLoaded}}
              Script is loaded {{mdc-icon "done" class="ml1"}}
            {{else}}
              Load Script {{mdc-icon "arrow_upward" class="ml1"}}
            {{/if}}
          {{/mdc-button}}

          {{#if functionIsLoaded}}
            {{#mdc-button click=(action "disableFunction") style="unelevated" class="black mr2"}}
                disable {{mdc-icon "cancel" class="ml1"}}
            {{/mdc-button}}
          {{else}}
            {{#mdc-button click=(action "discardChanges") style="unelevated" class="black "}}
              discard changes {{mdc-icon "settings_backup_restore" class="ml1"}}
            {{/mdc-button}}
          {{/if}}
          {{#if (not functionIsLoaded)}}
            <small class="mb2 flex-0">
              No script loaded.
            </small>
          {{/if}}
        
        </div>
      </div>
      <div>
        {{#mdc-button style="unelevated" click=(action (mut exampleMenuOpen) true)}}examples{{/mdc-button}}
        {{#mdc-menu
          open=exampleMenuOpen
          anchor="parent"
          quickOpen=true
          position="fixed"
          anchorCorner="bottomLeft"
        }}
          {{#each exampleFunctions as |exampleGroup| }}
            {{mdc-menu-item exampleGroup.sectionName disabled=true}}
            {{#each exampleGroup.examples as |example|}}
              {{mdc-menu-item example.name click=(perform injectExample example.code)}}
            {{/each}}
            {{mdc-list-divider}}
          {{/each}}
        {{/mdc-menu}}
      </div>
    </div>
    <div>
      {{#if illegalTokens}}
        <div class="alert alert-danger" role="alert">
          <span>remove unsupported keywords: <span class="danger">{{illegalTokens}}</span></span>
        </div>
      {{/if}}
    </div>
    {{ember-ace
      lines=8
      editorClass="ace-editor"
      value=editorContent
      mode="ace/mode/javascript"
      theme="ace/theme/ambiance"
      update=(action "onUpdateEditor")
    }}
  </div>
</section>

