<section class="pa3 w-100 overflow-hidden">
  <div class="flex justify-between items-center">
    <h3>Automation Controls</h3>
      {{#mdc-button
        title="Add new parameter control"
        style="raised"
        click=(action "newControl" "multislider") 
      }}
        {{mdc-button-icon "add"}}
        {{#mdc-button-label}}Add Control{{/mdc-button-label}}
      {{/mdc-button}}
  </div>


  <div class="flex flex-column h-100 w-100 mb4">
    <ul class="list flex pa0 ma0">
      {{#each track.trackControls as |trackControl|}}
        <li class="">
          {{#mdc-button
            click=(action (mut currentTrackControl) trackControl) 
            class="f7"
            title= (concat "audio node " trackControl.nodeName " : attribute: " trackControl.nodeAttr)
            style=(if (eq trackControl.id currentTrackControl.id) "raised")
          }} 
            {{trackControl.nodeName}}:{{trackControl.nodeAttr}} 
          {{/mdc-button}}
        </li>
      {{/each}}
    </ul>
    
    {{#if currentTrackControl.isLoaded}}
      <TrackControlWrapper 
        @track={{track}} 
        @sequence={{track.sequence}} 
        @trackControl={{currentTrackControl}}
        @stepIndex={{stepIndex}}
      />
    {{/if}}
  </div>
</section>
