<div class="flex mr3 h-100">
  <div class="mb2">
    {{#if (eq trackControl.interfaceName "ui-multislider")}}
      {{ui-multislider
        max=trackControl.max
        min=trackControl.min
        values=trackControl.controlDataArray
        size=uiSize
        stepIndex=stepIndex
        sequence=sequence
        numberOfSliders=sequence.length
        onChangeValue=(action "onChangeValue")
      }}
    {{/if}}
  </div>

  <div class="flex flex-column w3 ml3">
    <div class="ma0 f6 flex items-center">
      {{#mdc-menu-surface
        class="w5"
        anchor="parent"
        position= "fixed"
        quickOpen=false
        anchorCorner="topLeft"
        open=menuOpen
      }}
        {{#mdc-list}}
          {{#each menuListConfig as |item|}}
            {{#mdc-list-item class="pointer" click=(action item.action item.actionArg)}}
              {{item.label}}
            {{/mdc-list-item}}
          {{/each}}
        {{/mdc-list}}
      {{/mdc-menu-surface}}
      <label class="flex flex-column">
        <small class="tc">node name:</small>
        {{#mdc-button click=(action "openNodeMenu" "name") }}{{trackControl.nodeName}}{{/mdc-button}}
      </label>
      -
      <label class="flex flex-column">
        <small class="tc">attribute</small>
        {{#mdc-button click=(action "openNodeMenu" "attr") }}{{trackControl.nodeAttr}}{{/mdc-button}}
      </label>
    </div>
 
    {{#mdc-form class="flex" validity=(action "updateParam") as |form|}}
      {{mdc-textfield
        value=trackControl.min
        class="mv1 h2"
        label="min"
        style="outlined"
      }}
      {{mdc-textfield
        value=trackControl.max
        class="mv1 h2"
        label="max"
        style="outlined"
      }}
    {{/mdc-form}}
    <span class="f7">{{trackControl.variableName}}</span>
    {{#mdc-button title="Delete Control" class="dark-red" click=(action "delete")}}delete{{/mdc-button}}
  </div>
</div>