<div class="flex h-100 flex-wrap ml4">
  {{yield}}
  {{ui-step-sequencer
    sequence=track.sequence 
    stepIndex=track.stepIndex
  }}
</div>
{{mdc-icon-button icon="close" title="Delete Track" class="dark-red delete-track-btn" click=(action "deleteTrack" track bubbles=false)}}

{{#if isActive}}
  <CurrentTrackFooter 
    @track={{track}}
    @saveTrackTask={{saveTrackTask}}
  />
{{/if}}