<section class="function-editor" ...attributes>
  <div class="flex justify-between items-center">
    <div class="flex items-start relative pr4">
      <h3 class="mv0">Script Editor</h3>
      {{mdc-fab
        click=(action (mut isExpanded) (not isExpanded))
        icon=(if isExpanded "expand_more" "expand_less")
        mini=true
        class="bg-transparent absolute top-0 right-0 shadow-none"
      }}
    </div>
    {{#if (not functionIsLoaded)}}
      <span class="dark-gray flex-0">
        No script loaded.
      </span>
    {{/if}}

    <div>
      {{#mdc-button
        style="raised"
        click=(action (mut exampleMenuOpen) true)
        class="f7"
      }}
        examples
      {{/mdc-button}}
      <div>
        {{#mdc-menu
          open=exampleMenuOpen
          anchor="parent"
          quickOpen=true
          position="fixed"
          anchorCorner="bottomLeft"
        }}
          {{#each exampleFunctions as |exampleGroup|}}
            {{mdc-menu-item exampleGroup.sectionName disabled=true}}
            {{#each exampleGroup.examples as |example|}}
              {{mdc-menu-item
                example.name
                click=(perform injectExample example.code)
              }}
            {{/each}}
            {{mdc-list-divider}}
          {{/each}}
        {{/mdc-menu}}
      </div>
    </div>
  </div>
  {{yield}}
    {{! <legend>
        <p>write custom <a href="https://billorcutt.github.io/i_dropped_my_phone_the_screen_cracked/" target="_blank">cracked</a> script</p>
        <p>script will be called on each step of the step sequencer.</p>
      </legend> }}
    <div class="flex">
      {{log "editorContent" editorContent}}
      {{ember-ace
        class="flex-grow"
        lines=(if isExpanded 24 9)
        editorClass="ace-editor"
        value=editorContent
        mode="ace/mode/javascript"
        theme="ace/theme/ambiance"
        update=(action "onUpdateEditor")
      }}
      <div class="flex flex-column ml3 mt3">
        {{#mdc-button
          click=(action "submitCode")
          disabled=functionIsLoaded
          style="outlined"
          title="Function is loaded"
          class="black f7"
        }}
          {{#if functionIsLoaded}}
            {{mdc-icon "done" class="mr1"}}Loaded
          {{else}}
            {{mdc-icon "arrow_upward" class="mr1"}}Load
          {{/if}}
        {{/mdc-button}}
        {{#if functionIsLoaded}}
          {{#mdc-button
            click=(action "disableFunction")
            style="outlined"
            class="black f7"
          }}
            {{mdc-icon "cancel" class="mr1"}}disable
          {{/mdc-button}}
        {{else}}
          {{#mdc-button
            click=(action "discardChanges")
            style="outlined"
            class="black f7"
            title="Revert editor to currently running code"
          }}
            {{mdc-icon "settings_backup_restore" class="mr1"}}discard
          {{/mdc-button}}
        {{/if}}
      </div>
    </div>
    {{#if illegalTokens}}
      <p class="mv0 flex items-center">
        {{mdc-icon "warning" class="mr3"}}
        remove unsupported keywords: {{illegalTokens}}
      </p>
    {{/if}}
</section>